<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-title">
                <h3 class="text-center">WIPS</h3>
            </div>
            <div class="panel-body">
                <form class="form center-block" role="form" name="login_form">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control input-sm" placeholder="ID" id="id_txt">
                    </div>
                    <div class="form">
                        <label>PASSWORD</label>
                        <input type="password" class="form-control input-sm" placeholder="Password" id="pwd_txt">
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm btn-block" data-trigger="hover" data-type="info" data-title="'adsfasdf'" bs-tooltip ng-click="checkLogin()">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>